<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Bienvenido a Mercado Liebre</title>
</head>
<body>
    <header class="cajaflex">
        <img src="/images/logo-mercado-liebre.svg" alt="Aquí va el logo">
        <form>
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button> 
        </form>
        
        
        <p><i class="fas fa-hand-holding-usd"></i>
             Comprá en cuotas y sin tarjeta de crédito
        </p>

        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta</a><i class="fas fa-address-card"></i> </li>
                <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                <li><a href="">Mis Compras</a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>

        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        

    </header>
    <div>
        <img src="/images/img-home-banner.jpg" alt="Aquí va el logo">
    </div>
    <main>
        <section class="cajaflex">
            <h4>Basado en tu última visita</h4>
            <article>
                <img width="320px" src="/images/img-cafetera-moulinex.jpg" alt="Aqui va la cafetera">
                <div  class="cajaflex">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class = 'discount'>40% OFF</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
                <img width="320px" src="/images/img-macbook-pro-2019.jpg" alt="Aqui va la mcbook">
                <div class="cajaflex">
                    <i class="fas fa-truck"></i> 
                    <p class="price">$230.000</p>
                    <p class = 'discount'>20% off</p>                 
                    <h5>MacBook Pro 2019</h5>
                </div>
           </article>
            <article>
                <img width="320px" src="/images/img-samsung-galaxy-s10.jpg" alt="Aqui va samsung galaxy">
                <div class="cajaflex">
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class = 'discount'>10% off</p>                    
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <img width="320px" src="/images/img-tv-samsung-smart.jpg" alt="Aqui va el smart tv">
                <div class="cajaflex">
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class = 'discount'>5% off</p>                  
                    <h5>SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
        <section class="cajaflex">
            <h4>Sección de Ofertas</h4>
            <article>
                <img width="320px" src="/images/img-cafetera-moulinex.jpg" alt="Aqui va la cafetera">
                <div class="cajaflex">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class = 'discount'>40% OFF</p>                    
                    <h5>Cafetera Moulinex</h5>
                </div>               
            </article>
            <article>
                <img width="320px" src="/images/img-macbook-pro-2019.jpg" alt="Aqui va la mcbook">
                <div class="cajaflex">
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class = 'discount'>20% off</p>                 
                    <h5>MacBook Pro 2019</h5>
                </div>  
            </article>
            <article>
                <img width="320px" src="/images/img-samsung-galaxy-s10.jpg" alt="Aqui va samsung galaxy">
                <div class="cajaflex">
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class = 'discount'>10% off</p>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <img width="320px" src="/images/img-tv-samsung-smart.jpg" alt="Aqui va el smart tv">
                <div class="cajaflex">
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class = 'discount'>5% off</p>              
                    <h5>SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
    </main>
    <footer class="cajaflex">
        <div>
            <i class="far fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>